body {
  background-image: url(img/stars.jpg);
  background-size: 100%;
  background: linear-gradient(to right, #ADD8E6, #ffb6c1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

main {
  padding: 1px 20px 20px 20px;
  display: block;
  background: rgba(255, 255, 255, .50);
}

nav {
  background: rgba(255, 255, 255, .50);
  font-weight: bold;
  text-align: center;
  padding: .1em 0em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav a:hover {
  color: gray;
}


.popup {
  width: 400px;
  background: rgba(255, 255, 255, .50);
  position: fixed;
  margin: 20px auto;
  padding: 20px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%) scale(0.1);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.popup-profile {
  width: 400px;
  background: rgba(255, 255, 255, 0.7);
  position: fixed; /* Change from 'fixed' to 'absolute' */
  top: 50%; /* Vertical centering */
  left: 50%; /* Horizontal centering */
  transform: translate(-50%, -50%) scale(0.1); /* Initial scale and positioning */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  padding: 20px; /* Add padding */
  overflow-y: auto;

}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; /* Decreased margin-bottom */
}

.detail-title {
  font-weight: bold;
  margin-bottom: 3px; /* Decreased margin-bottom */
}

.detail-value {
  background-color: lightgrey;
  padding: 6px 8px; /* Decreased padding */
  border-radius: 15px;
  width: 100%;
  text-align: center;
  line-height: 1.2;
}

.request {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.request-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.request-buttons button {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 12px;
  flex: 1;
}

.accept-btn {
  background-color: green;
}

.deny-btn {
  background-color: red;
}

#wrapper.popup-opened {
  transition-duration: 500ms;
  opacity: 0.1;
  /* Adjust the opacity value as needed */
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 0.4s, top 0.4s;
  transition-duration: 500ms;
}

.opacity {
  opacity: 0;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 12px;
}

.profile-btn {
  display: block;
  width: fit-content;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px;
  float: right;
  
}
#profile-bulb {
  float:right;
}

.request-name {
  margin-left: 50px;
}

.btn:hover {
  background-color: #0056b3;
}

h1 {
  margin-bottom: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
  border-bottom: 1px solid black;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}


ul {
  list-style-image: url(img/bullet3.gif);
}

table {
  border: 2px solid #f2f2f2;
  border-collapse: collapse;
  margin: 2px auto;
}

th {
  padding: 0.5em;
  border: 2px solid #f2f2f2;
}

td {
  padding: 0.5em;
  border: 2px solid #f2f2f2;
  text-align: center;
}

.rating-container {
  flex-direction: column;
  margin-top: 20px;
}

footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2em;
  color: black;
  background: rgba(255, 255, 255, .50);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

form {
  /* display: flex;
    flex-direction: column; */
  flex-wrap: nowrap;
  width: 100%;
  /* max-width: 100%; */
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 30% 70%;
}

.button {
  grid-column: 2;
  width: 9em;
  margin: auto;
  float: right;
  width: 50%;
}


input,
textarea {
  margin-bottom: .5em;
}

video,
img {
  float: right;
  margin: 1em;
  width: 30vw;
}


#wrapper {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

#homehero {
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(homehero.jpg);
  /* background-size: 100% 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


#homehero-text {
  color: #ADD8E6;
  font-family: 'Garamond', serif;
}

#homehero-subtext {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homehero-subtext h2 {
  color: #ffb6c1;
  border: none;
  font-weight: normal;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.video {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.thumbnail {
  width: 100%;
  /* Ensure image takes up full width of container */
  height: auto;
  /* Maintain aspect ratio */
}

.thumbnail img {
  width: 100%;
  /* Make image responsive to its container */
  height: auto;
  /* Maintain aspect ratio */
}

.tag {
  background-color: #007bff;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 8px;
  border-radius: 3px;
}

#profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


#container {
  align-items: center;
}

#searchInput {
  margin: 20px auto;
  padding: 10px;
  width: 500px;
  display: block;
  border-radius: 50px;
  border-style: none;
}


.filterCheckboxes {
  margin-top: 20px;
  text-align: center;

}

.category {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  text-align: left;
  /* Add some spacing between categories */
}

.category h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #af9ed9;
  /* #9ecad9; */
}

.category input[type="checkbox"] {
  margin-right: 5px;
  /* Add some spacing between checkboxes and labels */
}

.category label {
  color: #2b2b2b;
}


.star-rating {
  color: #fafc6e;
  display: block;
  margin-bottom: 20px;
}

.color1 {
  color: #ADD8E6;
}

.color2 {
  color: #fafc;
}

.color3 {
  color: #a1f;
}

.color4 {
  color: #007bff;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 720px) {
  #wrapper {
    margin: auto;
    width: 80%;
    opacity: 100%;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav ul li {
    display: inline;
    float: right;
  }
  
  nav ul li.accounts-btn {
    float: left; /* Push the "Accounts" button to the left */
  }
  nav ul a {
    display: block;
    padding: 20px 14px;
    text-align: center;
  }

  .rating-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    /* Adjust as needed */
  }

  form {
    margin: auto;
    width: 80%;
  }

  #homehero-text {
    font-size: 25px;
    top: 45%;
  }

  #homehero-subtext {
    top: 75%;
  }

  video,
  img {
    float: right;
    margin: 1em;
    width: 14vw;
  }


  @supports (display: grid) {
    nav ul {
      flex-direction: column;
      list-style: none;
    }

    header {
      grid-area: header;
    }

    nav {
      grid-area: nav;
    }

    .hero {
      grid-area: hero;
    }

    main {
      grid-area: main;
    }

    aside {
      grid-area: aside;
    }

    footer {
      grid-area: footer;
    }

    #wrapper {
      /* background-color: black; */
      margin-left: auto;
      margin-right: auto;
    }

  }
}